{% extends "AguilaBundle:User:layout.html.twig" %}

{% block content %}
<div class="page-header">
    <h2>{{'fos.user.profile.edit.title'|trans([], 'AguilaBundle')}}</h2>
</div>
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock content %}