{% extends 'AguilaBundle::layout.html.twig' %}

{% block title 'project.list.title'|trans([], 'AguilaBundle') %}

{% block sidebar %}

<div class="project_new">
    {% include 'AguilaBundle:Project:new.html.twig' with {'form': form} %}
</div>

<h3>{{ "project.list.title"|trans([], "AguilaBundle") }}</h3>

<ul class="project_list unstyled">
    {% for project in projects %}
    <li{% if loop.index is odd %} class="odd"{% endif %}>
        <a href="{{ path('aguila_project_show', {'slug': project.slug}) }}" class="name">{{ project.name }}</a>
        <a href="{{ path('aguila_project_edit', {'slug': project.slug}) }}" class="edit icon pencil"></a>
    </li>
    {% endfor %}
</ul>

{% endblock %}

{% block content %}
{% endblock %}