{% extends 'AguilaBundle::layout.html.twig' %}

{% block title project.name %}

{% block content %}

<section>
    <header>
        <h2>{{ project.name }}</h2>
        <a href="{{ path('project_edit', {'id': project.id}) }}">{{ 'project.show.edit'|trans([], 'AguilaBundle') }}</a>
    </header>

    <div>
    {% render 'AguilaBundle:Feature:new' with {'project_id': project.id} %}
    </div>

    {% include 'AguilaBundle:Feature:index.html.twig' with {'features': project.features} %}

</section>

{% endblock %}