{% extends 'AguilaBundle::layout.html.twig' %}

{% block title project.name %}

{% block content %}

<section>
    <header>
        <h2>{{ project.name }}</h2>
        {% if is_granted('EDIT', project) -%}
            <a href="{{ path('aguila_project_edit', {'slug': project.slug}) }}">{{ 'project.show.edit'|trans([], 'AguilaBundle') }}</a>
        {%- endif %}
    </header>

    <div>
    {% render 'AguilaBundle:Feature:new' with {'project_slug': project.slug} %}
    </div>

    {% include 'AguilaBundle:Feature:list.html.twig' with {'features': project.features} %}

</section>

{% endblock %}
