{% extends "FOSUserBundle::layout.html.twig" %}

{% block title 'fos.user.registration.title'|trans([], 'AguilaBundle') %}

{% block content %}
<div class="page-header">
    <h1>
        {{ "layout.site.name"|trans([], 'AguilaBundle') }}
        <small>{{ "layout.site.slogan"|trans([], 'AguilaBundle') }}</small>
    </h1>
</div>
<h2>{{ "fos.user.registration.title"|trans([], 'AguilaBundle') }}</h2>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock content %}
