<ul class="unstyled zebra-striped tasks">
    {% for task in tasks %}
    <li class="task row{% if loop.index is odd %} odd{% endif%}">
        <div class="number span1">#{{ task.number }}</div>
        <div class="span5">
            <a class="title" href="{{ path('aguila_task_show', {'project_slug': task.feature.project.slug, 'number': task.number}) }}">
                {{ task.title }}
            </a>
            {% include 'AguilaBundle:Task:meta.html.twig' %}
        </div>
    </li>
    {% endfor %}
</ul>