{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="alert-message error">
    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
</div>

<a class="btn" href="{{ path('homepage') }}">{{ "layout.go.home"|trans([], "AguilaBundle") }}</a>
{% endblock fos_user_content %}
