{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="single_form">
    <h1>{{'fos.user.resetting.reset.title'|trans([], 'AguilaBundle')}}</h1>
    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
</div>
{% endblock fos_user_content %}
