<div style="font-size: 2em;line-height: 1em;-webkit-column-count: 4;-webkit-column-width: 75px;-webkit-column-gap: 20px;-webkit-column-rule: 1px solid #fff;">
    <span class="icon home"></span>home<br/>
    <span class="icon at"></span>at<br/>
    <span class="icon quote"></span>quote<br/>
    <span class="icon quote-alt"></span>quote-alt<br/>
    <span class="icon arrow-up"></span>arrow-up<br/>
    <span class="icon arrow-right"></span>arrow-right<br/>
    <span class="icon arrow-bottom"></span>arrow-bottom<br/>
    <span class="icon arrow-left"></span>arrow-left<br/>
    <span class="icon arrow-up-alt"></span>arrow-up-alt<br/>
    <span class="icon arrow-right-alt"></span>arrow-right-alt<br/>
    <span class="icon arrow-bottom-alt"></span>arrow-bottom-alt<br/>
    <span class="icon arrow-left-alt"></span>arrow-left-alt<br/>
    <span class="icon move"></span>move<br/>
    <span class="icon move-vertical"></span>move-vertical<br/>
    <span class="icon move-horizontal"></span>move-horizontal<br/>
    <span class="icon move-alt"></span>move-alt<br/>
    <span class="icon move-vertical-alt"></span>move-vertical-alt<br/>
    <span class="icon move-horizontal-alt"></span>move-horizontal-alt<br/>
    <span class="icon cursor"></span>cursor<br/>
    <span class="icon plus"></span>plus<br/>
    <span class="icon plus-alt"></span>plus-alt<br/>
    <span class="icon minus"></span>minus<br/>
    <span class="icon minus-alt"></span>minus-alt<br/>
    <span class="icon new-window"></span>new-window<br/>
    <span class="icon dial"></span>dial<br/>
    <span class="icon lightbulb"></span>lightbulb<br/>
    <span class="icon link"></span>link<br/>
    <span class="icon image"></span>image<br/>
    <span class="icon article"></span>article<br/>
    <span class="icon read-more"></span>read-more<br/>
    <span class="icon headphones"></span>headphones<br/>
    <span class="icon equalizer"></span>equalizer<br/>
    <span class="icon fullscreen"></span>fullscreen<br/>
    <span class="icon exit-fullscreen"></span>exit-fullscreen<br/>
    <span class="icon spin"></span>spin<br/>
    <span class="icon spin-alt"></span>spin-alt<br/>
    <span class="icon moon"></span>moon<br/>
    <span class="icon sun"></span>sun<br/>
    <span class="icon map-pin"></span>map-pin<br/>
    <span class="icon pin"></span>pin<br/>
    <span class="icon eyedropper"></span>eyedropper<br/>
    <span class="icon denied"></span>denied<br/>
    <span class="icon calendar"></span>calendar<br/>
    <span class="icon calendar-alt"></span>calendar-alt<br/>
    <span class="icon bolt"></span>bolt<br/>
    <span class="icon clock"></span>clock<br/>
    <span class="icon document"></span>document<br/>
    <span class="icon book"></span>book<br/>
    <span class="icon book-alt"></span>book-alt<br/>
    <span class="icon magnifying-glass"></span>magnifying-glass<br/>
    <span class="icon tag"></span>tag<br/>
    <span class="icon heart"></span>heart<br/>
    <span class="icon info"></span>info<br/>
    <span class="icon chat"></span>chat<br/>
    <span class="icon chat-alt"></span>chat-alt<br/>
    <span class="icon key"></span>key<br/>
    <span class="icon unlocked"></span>unlocked<br/>
    <span class="icon locked"></span>locked<br/>
    <span class="icon mail"></span>mail<br/>
    <span class="icon mail-alt"></span>mail-alt<br/>
    <span class="icon phone"></span>phone<br/>
    <span class="icon box"></span>box<br/>
    <span class="icon pencil"></span>pencil<br/>
    <span class="icon pencil-alt"></span>pencil-alt<br/>
    <span class="icon comment"></span>comment<br/>
    <span class="icon comment-alt"></span>comment-alt<br/>
    <span class="icon rss"></span>rss<br/>
    <span class="icon star"></span>star<br/>
    <span class="icon trash"></span>trash<br/>
    <span class="icon user"></span>user<br/>
    <span class="icon volume"></span>volume<br/>
    <span class="icon mute"></span>mute<br/>
    <span class="icon cog"></span>cog<br/>
    <span class="icon cog-alt"></span>cog-alt<br/>
    <span class="icon x"></span>x<br/>
    <span class="icon x-alt"></span>x-alt<br/>
    <span class="icon check"></span>check<br/>
    <span class="icon check-alt"></span>check-alt<br/>
    <span class="icon beaker"></span>beaker<br/>
    <span class="icon beaker-alt"></span>beaker-alt<br/>
</div>