{% extends 'AguilaBundle:Project:show.html.twig' %}

{% set project = feature.project %}

{% block title feature.project ~ " | " ~ feature.name %}

{% block content %}

<div class="page-header">
    <h3>
        {{ 'feature.show.tasks'|trans([], 'AguilaBundle') }}
        <small>
            <a class="new-task-button btn success" href="#">{{ 'feature.show.task.new'|trans([], 'AguilaBundle') }}</a>
        </small>
    </h3>
    {% render 'AguilaBundle:Task:new' with {'project_slug': project.slug, 'feature_slug': feature.slug} %}
</div>
<div class="row">
    <div class="span6">
        {% render 'AguilaBundle:Task:list' with {'feature_slug': feature.slug} %}
    </div>
    <div class="span10">
        {% block sub_content %}{% endblock sub_content %}
    </div>
</div>
{% endblock content %}
