{% extends 'AguilaBundle:Project:show.html.twig' %}

{% set project = feature.project %}

{% block title feature.project ~ " | " ~ feature.name %}

{% block content %}

{% render 'AguilaBundle:Task:new' with {'project_slug': feature.project.slug, 'feature_slug': feature.slug} %}
<div class="page-header">
<h2>
    {{ 'feature.show.tasks'|trans([], 'AguilaBundle') }}
    <small><a class="new-task-button btn success" href="#">{{ 'feature.show.task.new'|trans([], 'AguilaBundle') }}</a></small>
</h2>
</div>
{% include 'AguilaBundle:Task:list.html.twig' with {'tasks': feature.tasks} %}

{% endblock content %}