{% extends 'AguilaBundle::layout.html.twig' %}

{% block title feature.project ~ " | " ~ feature.name %}

{% block content %}

<section>
    <header>
        <h2>{{ feature.name }}</h2>
        <a href="{{ path('feature_edit', {'id': feature.id}) }}">{{ 'feature.show.edit'|trans([], 'AguilaBundle') }}</a>
    </header>

    <div>
    {% render 'AguilaBundle:Task:new' with {'feature_id': feature.id} %}
    </div>

    {% include 'AguilaBundle:Task:list.html.twig' with {'tasks': feature.tasks} %}

</section>

{% endblock %}