@import "lib/bootstrap/bootstrap.less";

@import "lib/elements.less";

@import "lib/icons.less";

body {
    padding-top: 60px;
}

.form-stacked { padding-left: 0; }

.topbar {
    .brand {
        padding-left: 35px;
        background: url(/bundles/aguila/images/logo.png) no-repeat 15px center;
    }
}

.sidebar {
    ul {
        a {
            text-decoration: none;
            color: @blueDark;
        }
        li {
            font-size: @basefont * 1.2;
            line-height: 40px;
            &:hover .icon { display: inline; }
            height: 40px;
            a {
                display: inline-block;
                float: left;
                padding: 0 10px;

            }
        }
        li.odd { background: lighten(@blue, 55%) }
        .icon {
            color: inherit;
            display: none;
            float: right;
            margin: 0 6px;
            line-height: 50px;
        }
    }
}

.single_page {
    width: 470px;
    margin: 0 auto;
}

.task-form {
    textarea {
        width: 100%;
        resize:vertical
    }
}

.page-header{
    .btn {
        position: relative;
        top: -0.35em;
    }
}

.fos_user_registration_register {
    p {
        font-size: 2em;
        line-height: 1.2em;
        padding: 10px 0 0 0;
        text-align: center;
    }
    .featured {
        font-size: 7em;
        line-height: 1.2em;
        text-align: center;
    }
    img {
        display: block;
        margin: 0 auto;
    }
}