@import "lib/bootstrap/bootstrap.less";

@import "lib/icons.less";

body {
    padding-top: 60px;
}

.form-stacked { padding-left: 0; }

.project_list {
    a {
        text-decoration: none;
        color: @blueDark;
    }
    li {
        &:hover .edit { display: inline; }
        height: 40px;
        .name {
            font-size: @basefont * 1.2;
            display: inline-block;
            float: left;
            line-height: 40px;
            padding: 0 10px;

        }
    }
    li.odd { background: lighten(@blue, 55%) }
    .edit {
        color: inherit;
        font-size: @basefont + 2;
        display: none;
        float: right;
        margin: 0 6px;
        line-height: 40px;
    }
}
